.carrousel {
  width: 50%;
  height: 50%;
  position: fixed;
  left: 25%;
  top: 25%;
  transform: scale(0);
  transition: transform 0.5s;
  background-color: beige;
}

.carrousel--ouvrir {
  transform: scale(1);
}